Repository mhahmad0/dev_greenova: changes, and which pre-commit hooks are due for each by the changed paths.
All: safety-check, eslint

safety-check:
  name: Safety dependency checker
  entry: bash -c 'pip install safety && safety check --full-report --ignore=62044,75180'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: npx eslint --fix
  language: system
  args:
  - --max-warnings=9999

release(v0.0.4): comprehensive platform enhancements and new features (#6)
  .devcontainer/package.json
  .devcontainer/requirements.txt
  .vscode/settings.json
  Makefile
  docs/resources/fish.md
  docs/resources/github-cli.md
  docs/resources/protobuf.md
  greenova/core/apps.py
  greenova/obligations/management/commands/import_obligations.py
  greenova/responsibility/models.py
  greenova/templates/base.html
  greenova/urls.py
  greenova/users/tests.py
  gunicorn.conf.py
Due: safety-check

refactor(project): implement comprehensive project enhancements
  .devcontainer/package.json
  .devcontainer/requirements.txt
  Makefile
  docs/resources/fish.md
  docs/resources/github-cli.md
  docs/resources/protobuf.md
  greenova/core/apps.py
  greenova/obligations/management/commands/import_obligations.py
  greenova/responsibility/models.py
  greenova/templates/base.html
  greenova/urls.py
  greenova/users/tests.py
  gunicorn.conf.py
Due: safety-check

chore(changelog): update for v0.0.4 pre-release with new features and enhancements
  CHANGELOG.md
Due: none

refactor(views): update mechanisms and projects view implementations
  greenova/mechanisms/views.py
  greenova/projects/views.py
Due: safety-check

refactor(issue-templates): enhance GitHub issue templates with available labels and detailed descriptions
  .github/prompts/github-issue.prompt.md
  docs/templates/github-issue-template.md
Due: none

fix(projects): resolve database operational errors and improve project configuration
  .devcontainer/devcontainer.json
  .editorconfig
  .vscode/extensions.json
  .vscode/settings.json
  conftest.py
  docs/templates/github-issue-template.md
  greenova/company/admin.py
  greenova/company/management/commands/ensure_default_company.py
  greenova/company/models.py
  greenova/projects/admin.py
  greenova/projects/models.py
  greenova/projects/test_projects.py
  greenova/projects/urls.py
  greenova/projects/views.py
  greenova/scripts/delete_migrations.sh
Due: safety-check

refactor(ui): improve error handling and optimize CSS structure
  .vscode/tasks.json
  greenova/chatbot/templates/chatbot/chat_widget.html
  greenova/core/templates/core/components/error_boundary.html
  greenova/core/templates/core/components/status_messages.html
  greenova/mechanisms/templates/mechanisms/mechanism_charts.html
  greenova/procedures/templates/procedures/procedure_charts.html
  greenova/procedures/test_procedures.py
  greenova/procedures/views.py
  greenova/projects/templates/projects/projects_selector.html
  greenova/static/css/base.css
  greenova/static/css/components/button.css
  greenova/static/css/components/card.css
  greenova/static/css/components/charts.css
  greenova/static/css/components/chat.css
  greenova/static/css/components/chatbot.css
  greenova/static/css/components/company.css
  greenova/static/css/components/filter.css
  greenova/static/css/components/form.css
  greenova/static/css/components/list.css
  greenova/static/css/components/navigation.css
  greenova/static/css/components/obligations.css
  greenova/static/css/components/pagination.css
  greenova/static/css/components/user-profile.css
  greenova/static/css/critical-styles.css
  greenova/static/css/defines/colours.css
  greenova/static/css/defines/design.css
  greenova/static/css/defines/pico-compat.css
  greenova/static/css/styles.css
  greenova/static/css/themes/dark.css
  greenova/static/css/themes/light.css
  greenova/static/img/favicon.ico
  greenova/static/img/favicon.svg
  greenova/static/js/error-handler.js
  greenova/templates/base.html
Due: safety-check, eslint

chore(devtools): update linting and development configurations
  .pylintrc
  .vscode/launch.json
  .vscode/settings.json
  conftest.py
  constraints.txt
Due: safety-check

chore(devtools): update development tooling and configurations
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/tasks.json
  eslint.config.js
  greenova/static/css/critical-styles.css
  package.json
  stylelint.config.js
Due: eslint

Refactor code quality tooling for improved CI/CD pipeline
  .bandit
  .banditrc
  .devcontainer/devcontainer.json
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/pylint.yml
  .github/workflows/super-linter.yml
  .pre-commit-config.yaml
  .pylintrc
  .vscode/extensions.json
  .vscode/settings.json
  conftest.py
  greenova/authentication/apps.py
  greenova/company/admin.py
  greenova/greenova/settings.py
  greenova/projects/views.py
  mypy.ini
  pyproject.toml
  tools/__init__.py
  tools/pre_commit/mock_settings.py
  tools/pre_commit/pre_commit_wrapper.py
  tools/scripts/__init__.py
  tools/scripts/run_mypy.py
  tools/scripts/run_mypy.sh
Due: safety-check

chore(ci): update pylint workflow to enhance environment setup and dependency installation
  .github/workflows/pylint.yml
Due: none

chore(ci): standardize formatting in pylint workflow configuration
  .github/workflows/pylint.yml
Due: none

chore(pre-commit): update eslint to version 9.24.0
  .pre-commit-config.yaml
Due: none

chore: update dependency management and development tooling
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  .vscode/mcp.json
  .vscode/settings.json
  constraints.txt
  pyproject.toml
  requirements.txt
  scripts/pip_upgrade_no_deps.sh
  scripts/upgrade_npm_and_pip.sh
Due: none

chore: update environment variables and add database connection settings
  .env.vault
  .vscode/settings.json
  greenova/manage.py
Due: safety-check

Signed-off-by: Cameron Sims <cameronissacsims@gmail.com>
  greenova/static/css/components/button.css
  greenova/static/js/components/foldable.js
Due: eslint

Signed-off-by: Cameron Sims <cameronissacsims@gmail.com>
  greenova/mechanisms/templates/mechanisms/components/_charts.html
  greenova/procedures/templates/procedures/components/_procedure_charts.html
  greenova/procedures/templates/procedures/procedure_charts.html
  greenova/static/js/app.js
  greenova/static/js/components/scrollable.js
Due: eslint

Update greenova/static/js/components/foldable.js
  greenova/static/js/components/foldable.js
Due: eslint

refactor: migrate from Django templatetags to Jinja2 extensions
  docs/TODO.md
  greenova/core/jinja2.py
  greenova/dashboard/extensions.py
  greenova/dashboard/templates/dashboard/dashboard.jinja
  greenova/dashboard/templatetags/__init__.py
  greenova/dashboard/templatetags/dashboard_tags.py
  greenova/feedback/extensions.py
  greenova/feedback/templates/feedback/layouts/base.jinja
  greenova/feedback/templatetags/__init__.py
  greenova/feedback/templatetags/feedback_tags.py
  greenova/mechanisms/templates/mechanisms/mechanism_charts.jinja
  greenova/procedures/extensions.py
  greenova/procedures/templates/procedures/components/_procedure_charts.jinja
  greenova/procedures/templates/procedures/procedure_charts.jinja
  greenova/procedures/templatetags/__init__.py
  greenova/procedures/templatetags/procedure_tags.py
  greenova/procedures/test_procedures.py
  greenova/procedures/views.py
Due: safety-check

refactor: clean up configuration files and update requirements
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  .vscode/mcp.json
  .vscode/settings.json
  .vscode/tasks.json
  greenova/procedures/test_procedures.py
  requirements.txt
Due: safety-check

refactor: migrate from Django templatetags to Jinja2 extensions
  greenova/procedures/templates/procedures/components/_procedure_charts.jinja
Due: none

Signed-off-by: Cameron Sims <cameronissacsims@gmail.com>
  greenova/mechanisms/templates/mechanisms/mechanism_charts.jinja
  greenova/static/css/components/button.css
  greenova/static/js/components/foldable.js
Due: eslint

Signed-off-by: Cameron Sims <cameronissacsims@gmail.com>
  greenova/procedures/templates/procedures/components/_procedure_charts.jinja
  greenova/static/css/components/charts.css
Due: none

Refactor and enhance feedback and chatbot modules, update configurations
  .devcontainer/devcontainer.json
  .devcontainer/post_start.sh
  .pre-commit-config.yaml
  .pylintrc-django
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/tasks.json
  greenova/__init__.py
  greenova/chatbot/data/__init__.py
  greenova/chatbot/data/chatbot.proto
  greenova/chatbot/management/commands/compile_proto.py
  greenova/chatbot/middleware.py
  greenova/chatbot/proto/__init__.py
  greenova/feedback/compile_proto.py
  greenova/feedback/extensions.py
  greenova/feedback/proto/feedback.proto
  greenova/feedback/proto_utils.py
  greenova/feedback/templates/feedback/components/bug_tracker_mini.html
  greenova/feedback/templates/feedback/components/mini_tracker_help.txt
  greenova/feedback/templates/feedback/components/protobuf_tools.html
  greenova/feedback/templates/feedback/email/confirmation.txt
  greenova/feedback/templates/feedback/email/status_update.txt
  greenova/feedback/templates/feedback/form/form.html
  greenova/feedback/templates/feedback/form/form.jinja
  greenova/feedback/templates/feedback/index.html
  greenova/feedback/templates/feedback/index.jinja
  greenova/feedback/templates/feedback/layouts/base.html
  greenova/feedback/templates/feedback/layouts/base.jinja
  greenova/feedback/templates/feedback/partials/bug_tracker.txt
  greenova/feedback/templates/feedback/partials/form.html
  greenova/feedback/templates/feedback/partials/success_message.html
  greenova/feedback/templates/feedback/status/status_messages.txt
  greenova/feedback/templatetags/__init__.py
  greenova/feedback/templatetags/feedback_tags.py
  greenova/feedback/urls.py
  greenova/feedback/views.py
  greenova/greenova/settings.py
  greenova/projects/templates/projects/projects_selector.html
  package.json
  requirements.txt
Due: safety-check

Refactor protobuf handling and improve feedback module functionality
  .github/workflows/pylint.yml
  greenova/chatbot/_pb2.py
  greenova/chatbot/chatbot_pb2.py
  greenova/chatbot/chatdata_pb2.py
  greenova/chatbot/compile_proto.py
  greenova/chatbot/create_input.py
  greenova/chatbot/data/chatdata-serialised.protobin
  greenova/chatbot/management/__init__.py
  greenova/chatbot/management/commands/__init__.py
  greenova/chatbot/management/commands/compile_proto.py
  greenova/chatbot/middleware.py
  greenova/chatbot/models.py
  greenova/chatbot/proto/chatbot.proto
  greenova/chatbot/proto/chatdata.proto
  greenova/chatbot/proto_utils.py
  greenova/chatbot/services.py
  greenova/core/management/__init__.py
  greenova/core/management/commands/__init__.py
  greenova/core/management/commands/compile_protos.py
  greenova/core/proto_utils.py
  greenova/db.sqlite3-shm
  greenova/db.sqlite3-wal
  greenova/feedback/compile_proto.py
  greenova/feedback/forms.py
  greenova/feedback/proto/__init__.py
  greenova/feedback/proto_utils.py
  greenova/feedback/templates/feedback/form/form.html
  greenova/feedback/templates/feedback/import_report.html
  greenova/feedback/templates/feedback/index.html
  greenova/feedback/templates/feedback/layouts/base.html
  greenova/feedback/templates/feedback/submit_bug_report.html
  greenova/feedback/templates/feedback/view_report.html
  greenova/feedback/templatetags/feedback_tags.py
  greenova/feedback/views.py
  greenova/greenova/settings.py
Due: safety-check

Update tasks, changelog, and add protobuf files for chatbot and feedback
  .vscode/tasks.json
  CHANGELOG.md
  docs/resources/git/comparing-changes-between-origin-and-upstram.md
  greenova/chatbot/proto/chatbot_pb2.py
  greenova/db.sqlite3-shm
  greenova/db.sqlite3-wal
  greenova/feedback/proto/feedback_pb2.py
Due: safety-check

Update CHANGELOG and pull request template for documentation improvements
  CHANGELOG.md
  docs/templates/pull-request-template.md
Due: none

Update .github/.copilot-codeGeneration-instructions.md
  .github/.copilot-codeGeneration-instructions.md
Due: none

fix: update package versions in requirements.txt and clean up extensions.json
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  requirements.txt
Due: none

Fix JSON formatting in VSCode settings file
  .vscode/settings.json
Due: none

feat(vscode): enhance tasks and settings for improved Python and HTML development
  .vscode/settings.json
  .vscode/tasks.json
Due: none

Refactor and update chatbot and core functionalities
  .github/workflows/pylint.yml
  .github/workflows/super-linter.yml
  greenova/chatbot/models.py
  greenova/chatbot/proto_utils.py
  greenova/chatbot/services.py
  greenova/chatbot/views.py
  greenova/core/management/commands/compile_protos.py
  greenova/feedback/proto_utils.py
  greenova/greenova/settings.py
  requirements.txt
Due: safety-check

Path conditions:
  safety-check: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$
